* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #23252C;
  color: hsl(0, 0%, 94%);

  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 92%);
}

.info--weblink {
  transition: color .4s ease-in-out, box-shadow .4s ease-in-out;
  box-shadow: inset 0 0 0 0 #54b3d6;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  border-radius: 2px;
  color: hsl(0, 0%, 92%);
}

.info--weblink:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #54b3d6;
}

.app--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.info--container,
.about--container,
.interest--container {
  background-color: #1a1b21;
}

.info--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 317px;
}

.info--image {
  max-width: 317px;
  max-height: 317px;
  border-radius: 10px 10px 0 0;
}

.info--details {
  padding-top: 21px;
  text-align: center;
}

.info--name {
  font-size: 25px;
  font-weight: 700;
  color: #0000;
  background:
    linear-gradient(90deg, #05c1ff 50%, #ffffff 0) var(--_p, 100%)/200% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  transition: .4s;
}

.info--name:hover {
  --_p: 0%;
  cursor: default;
}

.info--position {
  font-size: 13px;
  padding-top: 6.19px;
  padding-bottom: 8px;
  font-weight: 400;
  color: #02cee9;
}

.info--link {
  font-size: 11px;
}

.info--button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 16px;
}

.info--email {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  font-size: 14px;
  min-width: 120px;
  padding: 9px 13px 9px 11px;

  background-color: #FFFFFF;
  color: #374151;

  transition: color .6s ease-in-out, box-shadow .6s ease-in-out;
  box-shadow: inset 0 0 0 0 #dd5c00;
  border-radius: 6px;
}

.info--email:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #dd5c00;
}

.info--linkedIn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  font-size: 14px;
  min-width: 120px;
  padding: 9px 13px 9px 11px;

  background-color: #5093E2;
  color: #FFFFFF;

  border: 1px solid #5093E2;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.about--container,
.interest--container {
  max-width: 317px;
  padding-inline: 25px;
}

.about--title,
.interest--title {
  padding-top: 32px;
  padding-bottom: 5px;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0.5px;
}

.about--details,
.interest--details {
  font-weight: 400;
  color: #bbbbbb;
}

.interest--container {
  padding-bottom: 27px;
}

.footer--container {
  background-color: #161619;
  padding: 25px;
  min-width: 317px;
  border-radius: 0px 0px 10px 10px;
}

.footer-picture {
  background-color: #161619;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}